body {
  text-align: center;
  background-color: black;
}

h1,
p {
  color: blue;
  font-family: 'Courier';
}

h1 {
}

p {
  font-size: 30px;
}

.container {
  padding-top: 10%;
  top: 50%;
}

img {
  height: 50px;
}
